.pipeline_page-block {
    overflow: auto;
}

.pipeline_inner-block {
    margin: 0 auto;
    justify-content: space-around;
    min-width: 1300px;
    min-height: 87vh;
    display: flex;
    flex-direction: row;
}

.pipeline_page-block .status_column-header {
    text-align: center;
}

.pipeline_page-block .element-wrapper {
    margin: 2px 0;
    background-color: white;
}

.pipeline_page-block .wrapper {
    height: 10px;
    background-color: #d0cdcd;
    border-radius: 4px;
    opacity: 0;
}

.pipeline_page-block .wrapper.draggedOver {
    padding: 20px 25px;
    margin-top: 2px;
    opacity: 1;
}

.pipeline_page-block .feedback-block {
    border: 1px solid #afadad;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.pipeline_page-block .empty {
    display: none !important;
}

.pipeline_page-block .element-wrapper .top-data {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.pipeline_page-block .element-wrapper .vacancy {
    padding: 7px;
}

.pipeline_page-block .status_column-list .element-wrapper:nth-child(2) .wrapper[data-position="top"] {
    display: none;
}

.pipeline_page-block .status_column-list .element-wrapper:last-child .wrapper {

}
