#nav_section-block {
	height: 100vh;
	width: max-content;
	background: white;
	border-right: 1px solid #c9c9c9;
	padding: 0 10px;
	max-width: 110px;
	position: fixed;
	z-index: 100;
}

#nav_section-block #nav_section_buttons-block {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
}

#nav_section-block #nav_section_buttons-block a {
	border: 1px solid #ebebeb;
	text-decoration: none;
	margin: 10px 0;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 #c7c7c7;
	background-color: #ffffff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.2s;
}

#nav_section-block #nav_section_buttons-block a span {
	height: 31px;
	padding: 6px 9px;
}

#nav_section-block #nav_section_buttons-block a span.applicants {
	height: 31px;
	padding: 6px 9px;
}

#nav_section-block #nav_section_buttons-block a span.settings {
	padding-top: 1px;
}

#nav_section-block #nav_section_buttons-block a:hover *{
	overflow: visible;
	stroke: green;
}

#nav_section-block:hover + #navigation-block-ghost {
	margin-left: 97px;
}

#nav_section-block #nav_section_buttons-block a:active {
	transform: scale(0.98);
	box-shadow: none;

}

#navigation-block-ghost {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: center;
	margin-left: -40px;
	transition: 0.4s;
	z-index: 90;
}

#navigation-block-ghost-elements {
	height: 100vh;
	width: max-content;
	background: white;
	border-right: 1px solid #c9c9c9;
	padding: 0 16px;
	max-width: 110px;
	position: fixed;
	display: flex;
	flex-direction: column;
	padding-top: 36px;
}

#navigation-block-ghost-elements .nav-name {
	color: #08a552;
	font-weight: bold;
	height: 76px;
}