body {
    background-color: #f5f5f5;
}

.App {
    text-align: center;
}

#page_content {
    margin-left: 93px;
    padding: 15px;
}

.footnote {
    color: #08a552;
    font-size: 16px;
    text-align: right;
    padding: 5px;
    cursor: pointer;
}

.red {
    color: red;
}

.content-wrapper {
    background: white;
    width: 96%;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 4px 0 #cdc8c8;
    border: 1px solid #e5e5e5;
}
