#auth-container-body {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(45deg, rgb(147, 220, 19), rgb(29, 161, 134));
}
 
#auth-container {
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 3px 0 rgb(29, 161, 134);
    border-radius: 10px;
    width: 450px;
    height: 250px;
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    background-color: whitesmoke;
}

#auth-container::after {
    content: '';
    height: 3px;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: absolute;
    background-color: yellow;
    bottom: 0;
    left: 0;
}

button.buttonAut {
    padding: 10px 20px;
    background: #aaafaa;
    transition: 0s;
    margin: 0 auto;
}

button.buttonAut:hover {
    background: linear-gradient(45deg, rgb(29, 161, 134), rgb(147, 220, 19));
}

button.buttonAut:active {
    transform: scale(0.99);
}

form {
    text-align: left;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #918c8c;
}