.header-applicants {
    margin: 0 auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ebebeb;;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #c7c7c7;
    padding-left: 20px;
    padding-right: 20px;
    width: 96%;
}

.filter {
    width: 60%;
    height: 60%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 #c7c7c7;
    text-align: center;
}