body {
    font-size: 20px;
}

.container {
    height: 96vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#head {
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: linear-gradient(45deg, rgb(29, 161, 134), rgb(147, 220, 19));
    color: whitesmoke;
}

#head span {
    margin: 10px;
    font-weight: 500;
}

#blockInfoUser {
    min-width: 600px;
    min-height: 83vh;
    border-radius: 10px;
    border: 1px solid #aaafaa;
    box-shadow: 0 0 6px 0 #c7c7c7;
}

#information {
    display: flex;
    flex-direction: column;
}

#information {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}

.text {
    color: gray;
}



.blockBtn {
    display: grid;
    justify-content: end;
}

.btnSummary {
    width: 100px;
}