body {
    font-size: 20px;
}

.container {
    height: 100vh;
}

#head {
    border-bottom: 8px solid #6de935;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

#head span {
    margin: 10px;
    font-weight: 500;
}

#blockInfoUser {
    border: 1px solid #c9c6c6;
    width: 40%;
    height: 100%;
}

#information {
    display: flex;
    flex-direction: column;
}

#information span {
    margin: 10px;
}